# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
backup/app-nav/app-nav.component.css
backup/app-nav/app-nav.component.html
backup/app-nav/app-nav.component.spec.ts
backup/app-nav/app-nav.component.ts
backup/dashboardi/dashboard.component.css
backup/dashboardi/dashboard.component.html
backup/dashboardi/dashboard.component.spec.ts
backup/dashboardi/dashboard.component.ts
backup/header/header.component.css
backup/header/header.component.html
backup/header/header.component.spec.ts
backup/header/header.component.ts
backup/settings/settings.component.css
backup/settings/settings.component.html
backup/settings/settings.component.spec.ts
backup/settings/settings.component.ts
server/node_modules/.bin/mime
server/node_modules/accepts/HISTORY.md
server/node_modules/accepts/index.js
server/node_modules/accepts/LICENSE
server/node_modules/accepts/package.json
server/node_modules/accepts/README.md
server/node_modules/array-flatten/array-flatten.js
server/node_modules/array-flatten/LICENSE
server/node_modules/array-flatten/package.json
server/node_modules/array-flatten/README.md
server/node_modules/body-parser/HISTORY.md
server/node_modules/body-parser/index.js
server/node_modules/body-parser/LICENSE
server/node_modules/body-parser/package.json
server/node_modules/body-parser/README.md
server/node_modules/body-parser/lib/read.js
server/node_modules/body-parser/lib/types/json.js
server/node_modules/body-parser/lib/types/raw.js
server/node_modules/body-parser/lib/types/text.js
server/node_modules/body-parser/lib/types/urlencoded.js
server/node_modules/bytes/History.md
server/node_modules/bytes/index.js
server/node_modules/bytes/LICENSE
server/node_modules/bytes/package.json
server/node_modules/bytes/Readme.md
server/node_modules/content-disposition/HISTORY.md
server/node_modules/content-disposition/index.js
server/node_modules/content-disposition/LICENSE
server/node_modules/content-disposition/package.json
server/node_modules/content-disposition/README.md
server/node_modules/content-type/HISTORY.md
server/node_modules/content-type/index.js
server/node_modules/content-type/LICENSE
server/node_modules/content-type/package.json
server/node_modules/content-type/README.md
server/node_modules/cookie/HISTORY.md
server/node_modules/cookie/index.js
server/node_modules/cookie/LICENSE
server/node_modules/cookie/package.json
server/node_modules/cookie/README.md
server/node_modules/cookie-signature/.npmignore
server/node_modules/cookie-signature/History.md
server/node_modules/cookie-signature/index.js
server/node_modules/cookie-signature/package.json
server/node_modules/cookie-signature/Readme.md
server/node_modules/debug/.coveralls.yml
server/node_modules/debug/.eslintrc
server/node_modules/debug/.npmignore
server/node_modules/debug/.travis.yml
server/node_modules/debug/CHANGELOG.md
server/node_modules/debug/component.json
server/node_modules/debug/karma.conf.js
server/node_modules/debug/LICENSE
server/node_modules/debug/Makefile
server/node_modules/debug/node.js
server/node_modules/debug/package.json
server/node_modules/debug/README.md
server/node_modules/debug/src/browser.js
server/node_modules/debug/src/debug.js
server/node_modules/debug/src/index.js
server/node_modules/debug/src/inspector-log.js
server/node_modules/debug/src/node.js
server/node_modules/depd/History.md
server/node_modules/depd/index.js
server/node_modules/depd/LICENSE
server/node_modules/depd/package.json
server/node_modules/depd/Readme.md
server/node_modules/depd/lib/browser/index.js
server/node_modules/depd/lib/compat/callsite-tostring.js
server/node_modules/depd/lib/compat/event-listener-count.js
server/node_modules/depd/lib/compat/index.js
server/node_modules/destroy/index.js
server/node_modules/destroy/LICENSE
server/node_modules/destroy/package.json
server/node_modules/destroy/README.md
server/node_modules/ee-first/index.js
server/node_modules/ee-first/LICENSE
server/node_modules/ee-first/package.json
server/node_modules/ee-first/README.md
server/node_modules/encodeurl/HISTORY.md
server/node_modules/encodeurl/index.js
server/node_modules/encodeurl/LICENSE
server/node_modules/encodeurl/package.json
server/node_modules/encodeurl/README.md
server/node_modules/escape-html/index.js
server/node_modules/escape-html/LICENSE
server/node_modules/escape-html/package.json
server/node_modules/escape-html/Readme.md
server/node_modules/etag/HISTORY.md
server/node_modules/etag/index.js
server/node_modules/etag/LICENSE
server/node_modules/etag/package.json
server/node_modules/etag/README.md
server/node_modules/express/History.md
server/node_modules/express/index.js
server/node_modules/express/LICENSE
server/node_modules/express/package.json
server/node_modules/express/Readme.md
server/node_modules/express/lib/application.js
server/node_modules/express/lib/express.js
server/node_modules/express/lib/request.js
server/node_modules/express/lib/response.js
server/node_modules/express/lib/utils.js
server/node_modules/express/lib/view.js
server/node_modules/express/lib/middleware/init.js
server/node_modules/express/lib/middleware/query.js
server/node_modules/express/lib/router/index.js
server/node_modules/express/lib/router/layer.js
server/node_modules/express/lib/router/route.js
server/node_modules/finalhandler/HISTORY.md
server/node_modules/finalhandler/index.js
server/node_modules/finalhandler/LICENSE
server/node_modules/finalhandler/package.json
server/node_modules/finalhandler/README.md
server/node_modules/forwarded/HISTORY.md
server/node_modules/forwarded/index.js
server/node_modules/forwarded/LICENSE
server/node_modules/forwarded/package.json
server/node_modules/forwarded/README.md
server/node_modules/fresh/HISTORY.md
server/node_modules/fresh/index.js
server/node_modules/fresh/LICENSE
server/node_modules/fresh/package.json
server/node_modules/fresh/README.md
server/node_modules/http-errors/HISTORY.md
server/node_modules/http-errors/index.js
server/node_modules/http-errors/LICENSE
server/node_modules/http-errors/package.json
server/node_modules/http-errors/README.md
server/node_modules/iconv-lite/Changelog.md
server/node_modules/iconv-lite/LICENSE
server/node_modules/iconv-lite/package.json
server/node_modules/iconv-lite/README.md
server/node_modules/iconv-lite/encodings/dbcs-codec.js
server/node_modules/iconv-lite/encodings/dbcs-data.js
server/node_modules/iconv-lite/encodings/index.js
server/node_modules/iconv-lite/encodings/internal.js
server/node_modules/iconv-lite/encodings/sbcs-codec.js
server/node_modules/iconv-lite/encodings/sbcs-data-generated.js
server/node_modules/iconv-lite/encodings/sbcs-data.js
server/node_modules/iconv-lite/encodings/utf7.js
server/node_modules/iconv-lite/encodings/utf16.js
server/node_modules/iconv-lite/encodings/tables/big5-added.json
server/node_modules/iconv-lite/encodings/tables/cp936.json
server/node_modules/iconv-lite/encodings/tables/cp949.json
server/node_modules/iconv-lite/encodings/tables/cp950.json
server/node_modules/iconv-lite/encodings/tables/eucjp.json
server/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
server/node_modules/iconv-lite/encodings/tables/gbk-added.json
server/node_modules/iconv-lite/encodings/tables/shiftjis.json
server/node_modules/iconv-lite/lib/bom-handling.js
server/node_modules/iconv-lite/lib/extend-node.js
server/node_modules/iconv-lite/lib/index.d.ts
server/node_modules/iconv-lite/lib/index.js
server/node_modules/iconv-lite/lib/streams.js
server/node_modules/inherits/inherits_browser.js
server/node_modules/inherits/inherits.js
server/node_modules/inherits/LICENSE
server/node_modules/inherits/package.json
server/node_modules/inherits/README.md
server/node_modules/ipaddr.js/ipaddr.min.js
server/node_modules/ipaddr.js/LICENSE
server/node_modules/ipaddr.js/package.json
server/node_modules/ipaddr.js/README.md
server/node_modules/ipaddr.js/lib/ipaddr.js
server/node_modules/ipaddr.js/lib/ipaddr.js.d.ts
server/node_modules/media-typer/HISTORY.md
server/node_modules/media-typer/index.js
server/node_modules/media-typer/LICENSE
server/node_modules/media-typer/package.json
server/node_modules/media-typer/README.md
server/node_modules/merge-descriptors/HISTORY.md
server/node_modules/merge-descriptors/index.js
server/node_modules/merge-descriptors/LICENSE
server/node_modules/merge-descriptors/package.json
server/node_modules/merge-descriptors/README.md
server/node_modules/methods/HISTORY.md
server/node_modules/methods/index.js
server/node_modules/methods/LICENSE
server/node_modules/methods/package.json
server/node_modules/methods/README.md
server/node_modules/mime/.npmignore
server/node_modules/mime/CHANGELOG.md
server/node_modules/mime/cli.js
server/node_modules/mime/LICENSE
server/node_modules/mime/mime.js
server/node_modules/mime/package.json
server/node_modules/mime/README.md
server/node_modules/mime/types.json
server/node_modules/mime/src/build.js
server/node_modules/mime/src/test.js
server/node_modules/mime-db/db.json
server/node_modules/mime-db/HISTORY.md
server/node_modules/mime-db/index.js
server/node_modules/mime-db/LICENSE
server/node_modules/mime-db/package.json
server/node_modules/mime-db/README.md
server/node_modules/mime-types/HISTORY.md
server/node_modules/mime-types/index.js
server/node_modules/mime-types/LICENSE
server/node_modules/mime-types/package.json
server/node_modules/mime-types/README.md
server/node_modules/ms/index.js
server/node_modules/ms/license.md
server/node_modules/ms/package.json
server/node_modules/ms/readme.md
server/node_modules/negotiator/HISTORY.md
server/node_modules/negotiator/index.js
server/node_modules/negotiator/LICENSE
server/node_modules/negotiator/package.json
server/node_modules/negotiator/README.md
server/node_modules/negotiator/lib/charset.js
server/node_modules/negotiator/lib/encoding.js
server/node_modules/negotiator/lib/language.js
server/node_modules/negotiator/lib/mediaType.js
server/node_modules/on-finished/HISTORY.md
server/node_modules/on-finished/index.js
server/node_modules/on-finished/LICENSE
server/node_modules/on-finished/package.json
server/node_modules/on-finished/README.md
server/node_modules/parseurl/HISTORY.md
server/node_modules/parseurl/index.js
server/node_modules/parseurl/LICENSE
server/node_modules/parseurl/package.json
server/node_modules/parseurl/README.md
server/node_modules/path-to-regexp/History.md
server/node_modules/path-to-regexp/index.js
server/node_modules/path-to-regexp/LICENSE
server/node_modules/path-to-regexp/package.json
server/node_modules/path-to-regexp/Readme.md
server/node_modules/proxy-addr/HISTORY.md
server/node_modules/proxy-addr/index.js
server/node_modules/proxy-addr/LICENSE
server/node_modules/proxy-addr/package.json
server/node_modules/proxy-addr/README.md
server/node_modules/qs/.editorconfig
server/node_modules/qs/.eslintignore
server/node_modules/qs/.eslintrc
server/node_modules/qs/CHANGELOG.md
server/node_modules/qs/LICENSE
server/node_modules/qs/package.json
server/node_modules/qs/README.md
server/node_modules/qs/dist/qs.js
server/node_modules/qs/lib/formats.js
server/node_modules/qs/lib/index.js
server/node_modules/qs/lib/parse.js
server/node_modules/qs/lib/stringify.js
server/node_modules/qs/lib/utils.js
server/node_modules/qs/test/.eslintrc
server/node_modules/qs/test/index.js
server/node_modules/qs/test/parse.js
server/node_modules/qs/test/stringify.js
server/node_modules/qs/test/utils.js
server/node_modules/range-parser/HISTORY.md
server/node_modules/range-parser/index.js
server/node_modules/range-parser/LICENSE
server/node_modules/range-parser/package.json
server/node_modules/range-parser/README.md
server/node_modules/raw-body/HISTORY.md
server/node_modules/raw-body/index.d.ts
server/node_modules/raw-body/index.js
server/node_modules/raw-body/LICENSE
server/node_modules/raw-body/package.json
server/node_modules/raw-body/README.md
server/node_modules/safe-buffer/index.d.ts
server/node_modules/safe-buffer/index.js
server/node_modules/safe-buffer/LICENSE
server/node_modules/safe-buffer/package.json
server/node_modules/safe-buffer/README.md
server/node_modules/safer-buffer/dangerous.js
server/node_modules/safer-buffer/LICENSE
server/node_modules/safer-buffer/package.json
server/node_modules/safer-buffer/Porting-Buffer.md
server/node_modules/safer-buffer/Readme.md
server/node_modules/safer-buffer/safer.js
server/node_modules/safer-buffer/tests.js
server/node_modules/send/HISTORY.md
server/node_modules/send/index.js
server/node_modules/send/LICENSE
server/node_modules/send/package.json
server/node_modules/send/README.md
server/node_modules/send/node_modules/ms/index.js
server/node_modules/send/node_modules/ms/license.md
server/node_modules/send/node_modules/ms/package.json
server/node_modules/send/node_modules/ms/readme.md
server/node_modules/serve-static/HISTORY.md
server/node_modules/serve-static/index.js
server/node_modules/serve-static/LICENSE
server/node_modules/serve-static/package.json
server/node_modules/serve-static/README.md
server/node_modules/setprototypeof/index.d.ts
server/node_modules/setprototypeof/index.js
server/node_modules/setprototypeof/LICENSE
server/node_modules/setprototypeof/package.json
server/node_modules/setprototypeof/README.md
server/node_modules/setprototypeof/test/index.js
server/node_modules/statuses/codes.json
server/node_modules/statuses/HISTORY.md
server/node_modules/statuses/index.js
server/node_modules/statuses/LICENSE
server/node_modules/statuses/package.json
server/node_modules/statuses/README.md
server/node_modules/toidentifier/index.js
server/node_modules/toidentifier/LICENSE
server/node_modules/toidentifier/package.json
server/node_modules/toidentifier/README.md
server/node_modules/type-is/HISTORY.md
server/node_modules/type-is/index.js
server/node_modules/type-is/LICENSE
server/node_modules/type-is/package.json
server/node_modules/type-is/README.md
server/node_modules/unpipe/HISTORY.md
server/node_modules/unpipe/index.js
server/node_modules/unpipe/LICENSE
server/node_modules/unpipe/package.json
server/node_modules/unpipe/README.md
server/node_modules/utils-merge/.npmignore
server/node_modules/utils-merge/index.js
server/node_modules/utils-merge/LICENSE
server/node_modules/utils-merge/package.json
server/node_modules/utils-merge/README.md
server/node_modules/vary/HISTORY.md
server/node_modules/vary/index.js
server/node_modules/vary/LICENSE
server/node_modules/vary/package.json
server/node_modules/vary/README.md
trash/conge-form/conge-form.component.css
trash/conge-form/conge-form.component.html
trash/conge-form/conge-form.component.spec.ts
trash/conge-form/conge-form.component.ts
backup/app-nav/app-nav.component.css
backup/app-nav/app-nav.component.html
backup/app-nav/app-nav.component.spec.ts
backup/app-nav/app-nav.component.ts
backup/dashboardi/dashboard.component.css
backup/dashboardi/dashboard.component.html
backup/dashboardi/dashboard.component.spec.ts
backup/dashboardi/dashboard.component.ts
backup/header/header.component.css
backup/header/header.component.html
backup/header/header.component.spec.ts
backup/header/header.component.ts
backup/settings/settings.component.css
backup/settings/settings.component.html
backup/settings/settings.component.spec.ts
backup/settings/settings.component.ts
