<div class="mt-5 container">
  <div class="row" *ngIf = "!salarieLoaded" >
    <mat-spinner class="mr-2" strokeWidth="3" [diameter]="25"></mat-spinner>
    <span>Chargement des Informations du salarié</span>
  </div>
</div>
<div class="mt-5 container" *ngIf="salarieLoaded">
  <a class="row mb-4"  routerLink="../../salaries">
    <button mat-icon-button >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </a>
  <div class="salarie-header">
    <div class="header-left">
      <div class="avatar" *ngIf="salarie.photo" [ngStyle]="{ 'background-image': 'url(' + salarie.photo + ')'}"></div>
      <div class="avatar" *ngIf="!salarie.photo" [ngStyle]="{ 'background-image': 'url(' + 'assets/images/default.jpg' + ')'}"></div>
        <div class="pers-infos">
        <h3 class="sal-name">{{ salarie.nom }} {{ salarie.prenom }}</h3>
        <div class="sal-contacts">
          <div class="detail-item">
            <strong class="detail-name">CIN :</strong>
            <span>{{ salarie.cin }}</span>
          </div>
          <div class="detail-item">
            <strong class="detail-name">Numéro de somme :</strong>
            <span>{{ salarie.numSomme }}</span>
          </div>
          <div class="detail-item">
            <strong class="detail-name">Email :</strong>
            <span>{{ salarie.email }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="header-right" *ngIf="!salarie.poste">Aucun poste affecté</div>
    <div class="header-right" *ngIf="salarie.poste">
      <div class="poste-top">
        <h3 class="poste-header">Poste affecté</h3>
        <h4 class="poste-name">{{ salarie.poste.nom }}</h4>
      </div>
      <div class="poste-details">
        <div class="detail-item">
          <strong class="detail-name">Direction :</strong>
          <span>{{ salarie.poste.direction.nom }}</span>
        </div>
        <div class="detail-item">
          <strong class="detail-name">Division :</strong>
          <span>{{ salarie.poste.division }}</span>
        </div>
        <div class="detail-item">
          <strong class="detail-name">Service :</strong>
          <span>{{ salarie.poste.service.nom }}</span>
        </div>
      </div>
    </div>
  </div>
  <nav mat-tab-nav-bar class="mb-3">
    <a mat-tab-link
       routerLinkActive #infos="routerLinkActive"
       routerLink="./infos"
       [active]="infos.isActive">
      Informations personnelles
    </a>

    <a mat-tab-link
       routerLink="./absences"
       routerLinkActive #abs="routerLinkActive"
       [active]="abs.isActive">
      Historique d'absences
    </a>
    <a mat-tab-link
       routerLink="./conges"
       routerLinkActive #conges="routerLinkActive"
       [active]="conges.isActive">
      Demandes de congés
    </a>


  </nav>
  <router-outlet ></router-outlet>
</div>
