.salarie-header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 85vw;
}

.header-left {
  display: flex;
  align-items: center;
}

strong.detail-name {
  font-weight: bold;
  margin-right: 10px;
}

h3.sal-name {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 15px;
}

.avatar {
  height: 150px;
  width: 150px;
  background: grey;
  border-radius: 90px;
  margin-right: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.poste-top {
  margin-bottom: 20px;
}

h3.poste-header {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

h4.poste-name {
  opacity: 0.8;
  font-size: 20px;
}

.header-right>* {
  text-align: end;
}
