<div class="mt-5 container">
  <h1 class="mat-subheading">Bienvenue sur la plateforme</h1>
  <mat-divider></mat-divider>
  <div class="cards container mt-3">
    <div class="row row-cols-3">
      <div class="card col-sm mr-4 mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestion des postes</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="../postes">
            <button mat-stroked-button color="primary">Voir plus</button>
          </a>
        </div>
      </div>

      <div class="card col-sm mr-4 mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestion des congés</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="../conges">
            <button mat-stroked-button color="primary">Voir plus</button>
          </a>
        </div>
      </div>
      <div class="card col-sm mr-4 mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestion des absences</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="../absences">
            <button mat-stroked-button color="primary">Voir plus</button>
          </a>
        </div>
      </div>
    </div>

    <div class="row row-cols-3">

      <div class="card col-sm mr-4 mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestion des retraites</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="../retraites">
            <button mat-stroked-button color="primary">Voir plus</button>
          </a>
        </div>
      </div>
      <div class="card col-sm mr-4 mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestion des avantages de nature</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="../">
            <button mat-stroked-button color="primary">Voir plus</button>
          </a>
        </div>
      </div>
      <div class="card col-sm mr-4 mb-4">
        <div class="card-body">
          <h5 class="card-title">Gestion des salariés</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a routerLink="../salaries">
            <button mat-stroked-button color="primary">Voir plus</button>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
