<mat-toolbar color="primary" class="navbar sticky-top navb">
  <!-- <mat-toolbar-row> -->
  <span> LOGO </span>
  <form class="example-form navbar-nav mr-auto">
    <div class="example-full-width">
      <!-- <mat-label>Favorite food</mat-label> -->
        <input class="search"   
        name = "searchQuery"

        placeholder="Rechercher par nom de salarié, divison, direction" 
        [matAutocomplete]="auto" #searchField>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="showSalarieNom" (optionSelected)="redirect($event.option.value.id)">
        <mat-option *ngFor = "let salarie of searchResults" [value] = "salarie" >
            {{salarie.nom}} {{salarie.prenom}}
            <!-- <div class="account-inline" >
              <div class="avatar" *ngIf="salarie.photo" [ngStyle]="{ 'background-image': 'url(' + salarie.photo + ')'}"></div>
              <div class="avatar" *ngIf="!salarie.photo" [ngStyle]="{ 'background-image': 'url(' + 'assets/images/default.jpg' + ')'}"></div>
          
              <div class="account-labels">
                <div class="account-name"></div>
                <div class="account-details">
                  {{salarie.numSomme}}
                </div>
              </div>
            </div> -->
        </mat-option>
      </mat-autocomplete>
    </div>
  </form>
  <div class="right-items">
    <button (click) =  "redirect(2)" mat-icon-button class="mr-2">
      <mat-icon>notifications</mat-icon>
    </button>
    <div class="inline-avatar"  [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
      <div class="avatar"  *ngIf="currentUser.photo"  [ngStyle]="{ 'background-image': 'url(' + currentUser.avatar_link + ')'}"></div>
      <div class="avatar" *ngIf="!currentUser.photo" [ngStyle]="{ 'background-image': 'url(' + 'assets/images/default.jpg' + ')'}"></div>
      <div class="user-name">{{ currentUser.nom }} {{ currentUser.prenom }}</div>
    </div>
    <mat-menu #appMenu="matMenu"  xPosition="before"  class="top-menu">
      <ng-template matMenuContent let-name="name">
        <button mat-menu-item (click) = "openProfileModal()">Voir votre profil</button>
        <button mat-menu-item>Historique d'activités</button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="text-danger" >Deconnexion</button>
      </ng-template>
    </mat-menu>
  </div>
  <!-- </mat-toolbar-row> -->
</mat-toolbar>
<nav mat-tab-nav-bar class="" *ngIf="this.router.url !== '/home/dashboard'">
  <a mat-tab-link
     routerLinkActive #dashboard="routerLinkActive"
     routerLink="dashboard"
     [active]="dashboard.isActive">
    Page d'accueil
  </a>

  <a mat-tab-link
     routerLink="postes"
     routerLinkActive #postes="routerLinkActive"
     [active]="postes.isActive">
    Postes
  </a>
  <a mat-tab-link
     routerLink="conges"
     routerLinkActive #conges="routerLinkActive"
     [active]="conges.isActive">
    Congés
  </a>
  <a mat-tab-link
     routerLink="absences"
     routerLinkActive #absences="routerLinkActive"
     [active]="absences.isActive">
    Absences
  </a>
  <a mat-tab-link
     routerLink="retraites"
     routerLinkActive #retraites="routerLinkActive"
     [active]="retraites.isActive">
    Retraites
  </a>
  <a mat-tab-link
     routerLinkActive #avtg="routerLinkActive"
     [active]="avtg.isActive">
    Avantages en nature
  </a>
  <a mat-tab-link
     routerLink="salaries"
     routerLinkActive #salaries="routerLinkActive"
     [active]="salaries.isActive">
    Salariés
  </a>

</nav>
<router-outlet></router-outlet>
