<app-navbar></app-navbar>
<nav mat-tab-nav-bar class="" *ngIf="this.router.url !== '/home/dashboard'">
  <a mat-tab-link
     routerLinkActive #dashboard="routerLinkActive"
     routerLink="dashboard"
     [active]="dashboard.isActive">
    Page d'accueil
  </a>
  <a #utilisateurs="routerLinkActive"
     *ngIf="(profile | async).role === 'ADMIN'"
     [active]="utilisateurs.isActive"
     mat-tab-link routerLink="utilisateurs"
     routerLinkActive>
    Utilisateurs
  </a>

  <a mat-tab-link
     routerLink="postes"
     routerLinkActive #postes="routerLinkActive"
     [active]="postes.isActive">
    Postes
  </a>
  <a mat-tab-link
     routerLink="conges"
     routerLinkActive #conges="routerLinkActive"
     [active]="conges.isActive">
    Congés
  </a>
  <a mat-tab-link
     routerLink="absences"
     routerLinkActive #absences="routerLinkActive"
     [active]="absences.isActive">
    Absences
  </a>

  <a mat-tab-link
     routerLink="salaries"
     routerLinkActive #salaries="routerLinkActive"
     [active]="salaries.isActive">
    Salariés
  </a>
  <a #journal="routerLinkActive"
     [active]="journal.isActive"
     mat-tab-link routerLink="journal"
     routerLinkActive>
    Journal d'activités
  </a>

</nav>
<mat-progress-bar [style.opacity]="(loading | async)? 1 : 0" mode="indeterminate"></mat-progress-bar>

<router-outlet></router-outlet>
