<div class="form">
  <div *ngIf="!this.editForm" class="mat-title">Créer un nouveau poste</div>
  <p *ngIf="!this.editForm" class="mat-body">Formualaire de création de poste. Verifiez bien les informations avant de
    valider !</p>
  <div *ngIf="this.editForm" class="mat-title">Modifier le poste de {{ data.nom }}</div>
  <p *ngIf="this.editForm" class="mat-body">Formualaire de modification du poste. Verifiez bien les informations avant
    de valider !</p>
  <mat-vertical-stepper [linear]="this.editForm">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Préciser la direction, la division et le service</ng-template>
        <mat-form-field [style.width.px]=327>
          <mat-label>Préciser la direction</mat-label>
          <input matInput placeholder="Direction des RH" formControlName="direction"
                 (change)="handleDirectionChange()" [matAutocomplete]="autoDirection" required>
          <mat-autocomplete #autoDirection="matAutocomplete" [displayWith]="showNom">
            <mat-option *ngFor="let direction of directions | async"
                        [value]="direction">{{ direction.nom }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-form-field [style.width.px]=327>
            <mat-label>Préciser la division</mat-label>
            <input  matInput placeholder="Division B" formControlName="division" required>
          </mat-form-field>
        <mat-form-field [style.width.px]=327>
          <mat-label>Préciser la service</mat-label>
          <input matInput  placeholder="Service d'achats" formControlName="service" (change)="handleServiceChange()"
                 [matAutocomplete]="autoService" required>
          <mat-autocomplete #autoService="matAutocomplete" [displayWith]="showNom">
            <mat-option *ngFor="let service of services | async"
                        [value]="service">{{ service.nom }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <div>
            <button type="submit"  mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>informations sur le poste</ng-template>
          <mat-form-field [style.width.px]=327>
            <mat-label>Le nom du poste</mat-label>
            <input matInput  formControlName="posteName" placeholder="Poste de gestion des RH"
                   required>
          </mat-form-field>
            <!-- <mat-form-field
              formArrayName="competences" [style.width.px]=327
              *ngFor="let comp of secondFormGroup.get('competences').controls; let i = index">
              <div [formGroupName]="i">
                <mat-label>Ajouter la compétance requise</mat-label>
                <input  matInput formControlName="comp"  placeholder="Ex : 678951948581479"
                        required>
              </div>
            </mat-form-field> -->
            <mat-form-field [style.width.px]=327>
              <mat-label>Les competences requises</mat-label>
              <mat-chip-list #competencesList aria-label="Competence du poste">
                <mat-chip *ngFor="let comp of competences"
                          (removed)="remove(comp)" removable=true>
                  {{comp}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Ajouter une competence..."
                       [matChipInputFor]="competencesList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       (matChipInputTokenEnd)="addCompetence($event)">
              </mat-chip-list>
            </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext (click)="submitForm($event)" [disabled]="!secondFormGroup.valid" >Enregistrer</button>
          </div>
        </form>
      </mat-step>


    </mat-vertical-stepper>
<!--    <mat-card-actions class="container pr-5 mb-0" >-->
<!--      <button mat-button class="ml-3 mt-3" color="primary"(click)="createVirement()" >Valider le virement</button>-->
<!--      <button mat-button class="ml-3 mt-3" color="primary"  >Revoir les détails</button>-->
<!--    </mat-card-actions>-->
  </div>
