<div class="form">
  <div class="mat-title">Créer un nouveau poste</div>
  <p class="mat-body">Formualaire de création de poste. Verifiez bien les informations avant de valider !</p>
    <mat-vertical-stepper   linear>
      <mat-step [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup" >
          <ng-template matStepLabel>Préciser la direction, la division et le service</ng-template>
          <mat-form-field  [style.width.px]=327>
            <mat-label>Préciser la direction</mat-label>
            <input  matInput placeholder="Ex : 678951948581479" formControlName="direction" (change)="handleDirectionChange()" [matAutocomplete]="autoDirection" required>
            <mat-autocomplete #autoDirection="matAutocomplete">
              <mat-option *ngFor="let direction of directions" (click)="handleDirectionSelect(direction)" [value]="direction.id">{{ direction.nom }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field [style.width.px]=327>
            <mat-label>Préciser la division</mat-label>
            <input  matInput placeholder="Ex : 678951948581479" formControlName="division" required>
          </mat-form-field>
          <mat-form-field [style.width.px]=327>
            <mat-label>Préciser la service</mat-label>
            <input  matInput placeholder="Ex : 678951948581479" formControlName="service" (change)="handleServiceChange()" [matAutocomplete]="autoService" required>
            <mat-autocomplete #autoService="matAutocomplete">
              <mat-option *ngFor="let service of services" (click)="handleServiceSelect(service)" [value]="service">{{ service.nom }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button type="submit"  mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>informations sur le poste</ng-template>
          <mat-form-field [style.width.px]=327>
            <mat-label>Le nom du poste</mat-label>
            <input matInput  formControlName="posteName" placeholder="Ex : 678951948581479"
                   required>
          </mat-form-field>
            <mat-form-field
              formArrayName="competences" [style.width.px]=327
              *ngFor="let comp of secondFormGroup.get('competences').controls; let i = index">
              <div [formGroupName]="i">
                <mat-label>Ajouter la compétance requise</mat-label>
                <input  matInput formControlName="comp"  placeholder="Ex : 678951948581479"
                        required>
              </div>
            </mat-form-field>


          <button type="button" style="display: block;" mat-button (click)="addCompetence()" >Ajouter une compétance</button>

          <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext (click)="submitForm()" [disabled]="!secondFormGroup.valid" >Enregistrer</button>
          </div>
        </form>
      </mat-step>
     

    </mat-vertical-stepper>
<!--    <mat-card-actions class="container pr-5 mb-0" >-->
<!--      <button mat-button class="ml-3 mt-3" color="primary"(click)="createVirement()" >Valider le virement</button>-->
<!--      <button mat-button class="ml-3 mt-3" color="primary"  >Revoir les détails</button>-->
<!--    </mat-card-actions>-->
  </div>
