<mat-card class="dashboard-card mt-4 mb-5">
  <mat-card-header>
    <mat-card-title>Historique des absences</mat-card-title>
    <mat-form-field class="ml-auto mr-3" style="width: 500px;">
      <input
        matInput
        (keyup)="search($event)"
        placeholder="Rechercher dans le tableau"
      />
    </mat-form-field>
    <!-- <button class="ml-auto" color="primary" mat-flat-button>Voir plus</button> -->
  </mat-card-header>
  <mat-card-content class="pr-5 container">
    <table mat-table [dataSource]="absencesDs" class="accounts" matSort>
      <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="datedebut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de début</th>
        <td mat-cell *matCellDef="let absence">
          {{ absence.dateDebut | date: "EEEE d MMMM y" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="datefin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de fin</th>
        <td mat-cell *matCellDef="let absence">
          {{ absence.dateFin | date: "EEEE d MMMM y" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Type d'absence
        </th>
        <td mat-cell *matCellDef="let absence">{{ absence.type }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="justificatif">
        <th mat-header-cell *matHeaderCellDef>Reference</th>
        <td mat-cell *matCellDef="let absence">
          <a
            (click)="
              handleDownload(
                $event,
                absence.justificatif_link,
                absence.justificatif
              )
            "
            *ngIf="absence.justificatif"
            class="text-primary"
            >Telecharger le justificatif
          </a>
          <span *ngIf="!absence.justificatif">Pas de justificatif</span>
          <!-- <span class="text-primary" style="cursor: pointer;" (click) = "downloadJustificatif(absence.id)" *ngIf="absence.justificatif">Telecharger le justificatif</span> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="absenceCols"></tr>
      <tr mat-row *matRowDef="let row; columns: absenceCols"></tr>
    </table>
  </mat-card-content>
</mat-card>
