<div class="form">
  <div class="mat-title">Enregistrer une retraite</div>
  <p class="mat-body">Formualaire de retraite. Verifiez bien les informations avant de valider !</p>
    <mat-vertical-stepper   linear>
      <mat-step *ngIf="!formIsValid">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Entrer les informations sur la retraite</ng-template>
          <mat-form-field [style.width.px]=327>
            <mat-label>Entrer le nom du salarié à affecter</mat-label>
            <input [(ngModel)]="poste.direction" matInput placeholder="Ex : 678951948581479" required [matAutocomplete]="salarie">
          </mat-form-field>
          <mat-autocomplete #salarie="matAutocomplete">
            <mat-option *ngFor="let salarie of salaries" [value]="salarie.nom">
              {{ salarie.nom }}
            </mat-option>
          </mat-autocomplete>
          <mat-form-field [style.width.px]=327>
            <mat-label>Date de retraite</mat-label>
            <input matInput [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            
            <!-- <input type="date" matInput placeholder="Ex : 678951948581479" formControlName="firstCtrl" required> -->
          </mat-form-field>
          <mat-form-field [style.width.px]=327>
            <mat-label>Préciser le type de la retraite</mat-label>
            <input  matInput placeholder="Ex : 678951948581479" required>
          </mat-form-field>
          <mat-form-field [style.width.px]=327>
            <mat-label>Préciser la reference de la retraite</mat-label>
            <input  matInput placeholder="Ex : 678951948581479" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Retirer les avantages</button>
            <button mat-button >Enregistrer et fermer</button>
          </div>
        </form>
      </mat-step>
      <mat-step >
        <form >
          <ng-template matStepLabel>Retirer les avantages en nature</ng-template>
          <!-- <mat-form-field [style.width.px]=327> -->
            <mat-label>Sélectionner les avantages à retirer</mat-label>
            <mat-selection-list #avantages>
              <mat-list-option >les téléphones de service</mat-list-option>
              <mat-list-option >les logements administratifs</mat-list-option>
              <mat-list-option >les téléphones</mat-list-option>
              <mat-list-option >les véhicules de service</mat-list-option>
            </mat-selection-list>
          <!-- </mat-form-field> -->

          <div class="mt-3">
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    <!-- <mat-card-actions class="container pr-5 mb-0" *ngIf="formIsValid && formIsApproved">
      <button mat-button class="ml-3 mt-3" color="primary"(click)="createVirement()" >Valider le virement</button>
      <button mat-button class="ml-3 mt-3" color="primary"  (click)="formIsValid = false">Revoir les détails</button>
    </mat-card-actions> -->
  </div>
  