<div class="form">
  <div class="mat-title">Enregistrer une retraite pour {{ (salarie | async).nom }} {{ (salarie | async).prenom }}</div>
  <p class="mat-body">Formualaire de retraite. Verifiez bien les informations avant de valider !</p>
    <mat-vertical-stepper   linear>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Entrer les informations sur la retraite</ng-template>
          <mat-form-field [style.width.px]="327">
            <mat-label>Date de retraite</mat-label>
            <input
              matInput
              required
              formControlName="dateRetraite"
              [matDatepicker]="dateRetraitePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateRetraitePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateRetraitePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field  [style.width.px]=327>
            <mat-label>La référence de la retraite</mat-label>
            <input  matInput placeholder="Ex : REF78349819" formControlName="reference" required>
          </mat-form-field>
          <mat-form-field  [style.width.px]=327>
            <mat-label>Type de la retraite</mat-label>
            <input  matInput placeholder="Ex : 678951948581479" formControlName="type"  [matAutocomplete]="autoType" required>
            <mat-autocomplete #autoType="matAutocomplete" [displayWith]="showType">
              <mat-option *ngFor="let type of typesRetraite"  [value]="type">{{ type.typeRetraite }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field style="width: -webkit-fill-available; width: -moz-available;">
            <mat-label>Remarques sur la retraite</mat-label>
            <textarea rows="3" style="resize: none;" formControlName="remarques" type="text" matInput required></textarea>
          </mat-form-field>
          <div>
<!--            <button mat-button matStepperNext>Retirer les avantages</button>-->
            <button (click)="onSubmit()" [disabled]="formGroup.invalid" mat-button>Enregistrer</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    <!-- <mat-card-actions class="container pr-5 mb-0" *ngIf="formIsValid && formIsApproved">
      <button mat-button class="ml-3 mt-3" color="primary"(click)="createVirement()" >Valider le virement</button>
      <button mat-button class="ml-3 mt-3" color="primary"  (click)="formIsValid = false">Revoir les détails</button>
    </mat-card-actions> -->
  </div>
