<div class="form">
  <div class="mat-title">Enregistrer une absence d'un salarié</div>
  <p class="mat-body">
    Formualaire d'enregistrement d'absence de salariés. Verifiez bien les
    informations avant de valider !
  </p>
  <mat-vertical-stepper linear>
    <mat-step [stepControl]="absenceForm">
      <form [formGroup]="absenceForm">
        <ng-template matStepLabel>Selectionner le salarié concerné</ng-template>
        <div class="row" *ngIf="!salariesLoaded">
          <mat-spinner
            class="mr-2"
            strokeWidth="3"
            [diameter]="25"
          ></mat-spinner>
          <span>Chargement de liste de salariés</span>
        </div>
        <mat-form-field [style.width.px]="327" *ngIf="salariesLoaded">
          <mat-label>Selectionner le salarié</mat-label>
          <mat-select formControlName="salarieId">
            <mat-option
              class="account-inline"
              *ngFor="let salarie of salaries | async"
              [value]="salarie.id"
            >
              <span
                matTooltipPosition="right"
                [matTooltip]="
                  salarie.direction && salarie.service
                    ? salarie.direction.nom + ' / ' + salarie.service.nom
                    : 'Aucune information sur la direction et le service.'
                "
                >{{ salarie.nom }} {{ salarie.prenom }}</span
              >
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="salariesLoaded">
          <mat-form-field [style.width.px]="327">
            <mat-label>Préciser le type d'absence</mat-label>
            <input
              type="text"
              matInput
              formControlName="type"
              [matAutocomplete]="auto"
            />
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let type of types" [value]="type">{{
              type
            }}</mat-option>
          </mat-autocomplete>
          <mat-form-field [style.width.px]="327">
            <mat-label>Date de début</mat-label>
            <input
              matInput
              formControlName="dateDebut"
              [matDatepicker]="dateDebutPicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateDebutPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateDebutPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field [style.width.px]="327">
            <mat-label>Date de fin</mat-label>
            <input
              matInput
              formControlName="dateFin"
              [min]="absenceForm.value.dateDebut"
              [matDatepicker]="dateFinPicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateFinPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateFinPicker></mat-datepicker>
          </mat-form-field>
          <div class="buttons-row">
            <mat-progress-spinner
              *ngIf="uploading"
              mode="determinate"
              strokeWidth="3"
              [diameter]="25"
              [value]="uploadProgress"
            >
            </mat-progress-spinner>
            <div class="upload-btn-wrapper" *ngIf="!uploading">
              <button class="mr-2" mat-stroked-button>
                <mat-icon class="mr-2">backup</mat-icon>
                {{ justificatif ? 'Modifier le fichier' : 'Attacher un justificatif' }}
              </button>
              <input
                type="file"
                (change)="handleJustificatif($event)"
                name="justificatif"
                id="justificatif"
                accept=".pdf,.doc,.docx,.png,.jpg,.jpeg"
              />
            </div>
            <div class="upload-btn-wrapper" *ngIf="!uploading">
              <button
                mat-stroked-button
                color="warn"
                *ngIf="justificatif"
                (click)="justificatif = null"
              >
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </div>
          </div>

          <div *ngIf="justificatif" class="text-primary mt-2">{{ justificatif.name }}</div>
          <div class="mt-3">
            <button
              type="submit"
              (click)="onSubmit($event)"
              mat-button
              matStepperNext
              [disabled]="absenceForm.invalid"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
