<div class="mt-5 container">
<!--  <h1 class="mat-subheading">Gestion des absences</h1>-->
<!--  <mat-divider></mat-divider>-->
<!--  <router-outlet></router-outlet>-->
  <mat-card class="dashboard-card mb-5">
    <mat-card-header>
      <mat-card-title>Liste de salariés</mat-card-title>
      <mat-form-field class="ml-auto mr-3" style="width: 500px;">
        <input matInput (keyup)="search($event)" placeholder="Rechercher dans le tableau">
      </mat-form-field>
      <!-- <button class="ml-auto" color="primary" mat-flat-button>Voir plus</button> -->
    </mat-card-header>
    <mat-card-content class="pr-5 container">
      <table mat-table [dataSource]="salariesDs" class="accounts" matSort>

        <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->
<!--        ['salarie', 'numsomme', 'direction', 'division', 'service']-->
        <!-- Position Column -->
        <ng-container matColumnDef="salarie">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 20px;"  mat-sort-header> Nom du salarié</th>
          <td mat-cell *matCellDef="let element">

              <a [routerLink]="['./', element.id]">
                <div class="account-inline" >
                  <div class="avatar" *ngIf="element.photo" [ngStyle]="{ 'background-image': 'url(' + element.photo + ')'}"></div>
                  <div class="avatar" *ngIf="!element.photo" [ngStyle]="{ 'background-image': 'url(' + 'assets/images/default.jpg' + ')'}"></div>
                
                  <div class="account-labels">
                    <div class="account-name">{{element.nom}}</div>
          
                  </div>
                </div>
              </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="numsomme">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Nº de somme</th>
          <td mat-cell *matCellDef="let element"> {{element.numSomme? element.numSomme: 'Pas définie'}} </td>
        </ng-container>
        <ng-container matColumnDef="direction">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Direction</th>
          <td mat-cell *matCellDef="let element"> {{element.direction? element.direction.nom: 'Pas définie'}} </td>
        </ng-container>
        <ng-container matColumnDef="division">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Division</th>
          <td mat-cell *matCellDef="let element"> {{element.division? element.division: 'Pas définie'}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef>Service</th>
          <td mat-cell *matCellDef="let element">{{element.service ? element.service.nom: 'Pas définie' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="salarieCols"></tr>
        <tr mat-row *matRowDef="let row; columns: salarieCols;"></tr>
      </table>

    </mat-card-content>
  </mat-card>


</div>
