<div *ngIf="!salarieLoaded" class="row">
  <mat-spinner class="mr-2" strokeWidth="3" [diameter]="25"></mat-spinner>
  <span>Chargement en cours</span>
</div>
<div *ngIf="salarieLoaded && !(salarie | async).retraite">
  <span
    >Aucune retraite enregistrée pour {{ (salarie | async).nom }}
    {{ (salarie | async).prenom }}.</span
  >
  <span
    (click)="openRetraiteFrom()"
    class="text-primary ml-1"
    style="cursor: pointer;"
    >Voulez vous enregistrer une ?</span
  >
</div>
<mat-accordion *ngIf="salarieLoaded && (salarie | async).retraite">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Information sur la retraite de {{ (salarie | async).nom }}
        {{ (salarie | async).prenom }}
      </mat-panel-title>
      <mat-panel-description>
        Voir la date de la retraite, le statut du salarié
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="detail-item">
      <div class="detail-name">Date de la retraite</div>
      <div class="detail-content">
        {{ (retraite | async).dateRetraite | date: "EEEE d MMMM y" }}
      </div>
    </div>
    <div class="detail-item">
      <div class="detail-name">Type de la retraite</div>
      <div class="detail-content">
        {{ (retraite | async).type.typeRetraite }}
      </div>
    </div>
    <div class="detail-item" *ngIf="(retraite | async).etat === 'VALID'">
      <div class="detail-name">Remarques</div>
      <div class="detail-content">{{ (retraite | async).remarques }}</div>
    </div>
    <div class="detail-item">
      <div class="detail-name">État de la retraite</div>

      <div
        *ngIf="(retraite | async).etat === 'PENDING_RT_AVTG'"
        class="detail-content"
      >
        <span>En attente de retraite des avantages en nature.</span>
      </div>
      <div
        *ngIf="(retraite | async).etat === 'SCHEDULED'"
        class="detail-content"
      >
        <span
          >La retraite aura lieu le
          {{ (retraite | async).dateRetraite | date: "EEEE d MMMM y" }}.</span
        >
      </div>
      <div
        *ngIf="(retraite | async).etat === 'PENDING_VALID'"
        class="detail-content"
      >
        <span>Les avantages ont été retirés.</span>
        <!--        <span class="text-primary ml-1" (click)="validerRetraite()">Cliquer ici pour valider la retraite de {{ salarie.nom }} {{ salarie.prenom }}</span>-->
      </div>
      <div *ngIf="(retraite | async).etat === 'VALID'" class="detail-content">
        <span
          >La retraite a été validé le
          <strong>{{
            (retraite | async).dateValidation | date: "EEEE d MMMM y"
          }}</strong
          >.</span
        >
      </div>
    </div>
    <mat-action-row *ngIf="(retraite | async).etat !== 'VALID'">
      <button
        (click)="retirerAvantages()"
        *ngIf="(retraite | async).etat === 'PENDING_RT_AVTG'"
        color="primary"
        mat-button
      >
        Retirer les avantages en nature
      </button>
      <button
        (click)="validerRetraite()"
        *ngIf="(retraite | async).etat === 'PENDING_VALID'"
        color="primary"
        mat-button
      >
        Valider la retraite
      </button>
      <!--      <button mat-button color="primary" (click)="nextStep()">End</button>-->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
