<div class="form">
  <div *ngIf="!editForm" class="mat-title">
    Enregistrer un congé de maladie d'un salarié
  </div>
  <div *ngIf="editForm" class="mat-title">
    Modifier les informations du congé de maladie de {{ data.salarie.nom }}
    {{ data.salarie.prenom }}
  </div>
  <p *ngIf="!editForm" class="mat-body">
    Formualaire d'enregistrement congé de maladie des salariés. Verifiez bien
    les informations avant de valider ! <br /><strong
      style="opacity: 0.7; color: #0091fa;"
      >Notez-bien que certaines dates ne peuvent pas être sélectionnées
      parcequ'il peut y exister une absence déjà enregistrée ou le salarié est
      en congé.</strong
    >
  </p>
  <mat-vertical-stepper linear>
    <mat-step [stepControl]="congeMaladieForm">
      <form [formGroup]="congeMaladieForm">
        <ng-template matStepLabel>Informations sur la demande</ng-template>
        <div class="row" *ngIf="!salariesLoaded">
          <mat-spinner
            class="mr-2"
            strokeWidth="3"
            [diameter]="25"
          ></mat-spinner>
          <span>Chargement de liste de salariés</span>
        </div>
        <mat-form-field
          *ngIf="salariesLoaded && !editForm"
          [style.width.px]="327"
        >
          <mat-label>Selectionner le salarié</mat-label>
          <mat-select formControlName="salarieId">
            <mat-option
              class="account-inline"
              [disabled]="salarie.deleted"
              *ngFor="let salarie of salaries | async"
              [value]="salarie.id"
            >
              <span
                matTooltipPosition="right"
                [matTooltip]="
                  salarie.direction && salarie.service
                    ? salarie.direction.nom + ' / ' + salarie.service.nom
                    : 'Aucune information sur la direction et le service.'
                "
                >{{ salarie.nom }} {{ salarie.prenom }}</span
              >
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="salariesLoaded">
          <mat-form-field [style.width.px]="327">
            <mat-label>Préciser le motif de maladie</mat-label>
            <input type="text" matInput formControlName="motif" />
          </mat-form-field>
          <mat-form-field [style.width.px]="327">
            <mat-label>Date de début</mat-label>
            <input
              matInput
              formControlName="dateDebut"
              [matDatepicker]="dateDebutPicker"
              [matDatepickerFilter]="dateFilter"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateDebutPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateDebutPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field [style.width.px]="327">
            <mat-label>Date de fin</mat-label>
            <input
              matInput
              formControlName="dateFin"
              [min]="congeMaladieForm.value.dateDebut"
              [matDatepicker]="dateFinPicker"
              [matDatepickerFilter]="dateFinFilter"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dateFinPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateFinPicker></mat-datepicker>
          </mat-form-field>
          <div class="mt-3">
            <button
              type="submit"
              (click)="onSubmit()"
              mat-button
              matStepperNext
              [disabled]="congeMaladieForm.invalid"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
